{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout Example</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="{% static 'table_format.css' %}" type="text/css" />
</head>
<body>
    <span style="float: right;">
        {% if user.is_authenticated %}
           {{ user.username}}
           <form action="{% url 'logout' %}?next=/" method="post">
               <button type="submit">logout</button>
               {% csrf_token %}
           </form>
        {% else %}
           Not Logged in
           <a href="{% url 'login' %}?next=/">login</a>
        {% endif %}
    </span>
    <!-- Top Banner -->
    <header class="banner">
        <h1>Banner</h1>
    </header>

    <!-- Main Section -->
    <div class="container">

        <!-- Left Menu -->
        <nav class="menu">
            <ul>
                {% block sidenav %}
                    Menu Items
                {% endblock sidenav %}
            </ul>
        </nav>

        <!-- Right Main Content -->
        <main class="content">
                {% block content %}
                    <h1>Main Content</h1>
                {% endblock content %}
        </main>

    </div>

    <!-- Bottom Copyright -->
    <footer class="footer">
        <p>© 2026 Your Name</p>
    </footer>

</body>
</html>